body {
  font-family:'Source Sans Pro', arial, sans-serif;
  font-weight: bold;
  text-align: center;
}

/*
  This is where the navbar stuff starts
*/

.navbar {
  background-color: #247BA0;
  margin: -0.5rem 0;
  padding: 0.9rem 0;
  color: white;
}

#author-menu:hover .dropdown {
  z-index:1;
  opacity:1;
}

.dropdown {
    position: absolute;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background-color: #247BA0
}

ul {
  text-align: center;
  border-radius: 5px;
  padding: 6px 0px;
  list-style: none;
  margin: auto;
}

.navbar__liitem {
  font-size: 20px;
  display: inline-block;
  padding: 0px 1%;
}

.subnavbar__liitem {
  padding: 10px 10px;
}

/*
  This is where the navbar stuff ends
*/

.header {
  font-size: 3.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #CBD6CE;
}

.about-page {
  margin: 50px auto;
  padding-bottom: 15px;
  width: 70%;
  max-width: 750px;
  border-bottom: solid #247BA0 2px;
}

.about-para {
  font-size: 25px;
  line-height: 36px;
}

p {
  text-align: left;
  font-size: 18px;
}

img {
  width: 100%;
}
