body {

  font-family: 'Source Sans Pro', arial;
  font-weight: bold;
  text-align: center;
  width:80%;
  margin:auto;
}

input {
  width: 100px;
  height: 100px;
  border: solid black 5px;
}

.navbar {
  width: 100%;
  max-width: 600px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  text-align: center;
  background-color: #B2DBBF;
  border-radius: 5px;
  margin: 0 auto;
  padding: 6px 0;
}
.aboutpage{
max-width: 650px;
}
.aboutpara{
  text-align: center;

}

.navbar__liitem {
  font-size: 20px;
  display: inline;
  padding: 0 1%;
  color: black;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.5rem;
}

section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

a {
  color: #70C1B3;
  text-decoration: none;
}

a:visited {
  color: #B2DBBF;
}

a:hover {
  color: #247BA0;
}

.articlesummary {
  border-bottom: solid #247BA0 2px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

h2{
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  text-align: center;
  font-size: 18px;
}

img {
  width: 100%;
}

i {
  padding: 0 5px 0 10px;
}

time {
  font-style: italic;
  font-size: 0.9rem;
}

.bio {
  margin: 20px auto 40px auto;
  max-width: 80%;
}

.bio img {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 50%;
}

@media (min-width: 600px){
  .mediaquery1 {
    width: 100%;
    margin: auto;
  }

  .articlesummary {
    width: 45%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0.4em;
  }

  .bio {
    width: 60%;
  }
}

@media (min-width: 900px){
  .mediaquery1 {
    width: 75%;
    margin-left: 10px;
  }

  .bio {
    position: fixed;
    top: 200px;
    right: 0;
    max-width: 200px;
    background-color: #247BA0;
    color: white;
    padding: 25px;
    border-radius: 5px 0 0 5px;
  }
  .bio a:hover {
    color: white;
  }
}
