body {
  font-family:'Source Sans Pro', arial, sans-serif;
}



/*
  This is where the navbar stuff starts
*/

.navbar {
  background-color: #247BA0;
  margin: -0.5rem 0;
  padding: 0.9rem 0;
  color: white;
}

#author-menu:hover .dropdown {
  z-index:1;
  opacity:1;
}

.dropdown {
    position: absolute;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background-color: #247BA0;
}

ul {
  text-align: center;
  border-radius: 5px;
  padding: 6px 0px;
  list-style: none;
  margin: auto;
}

.navbar__liitem {
  font-size: 20px;
  display: inline-block;
  padding: 0px 1%;
}

.subnavbar__liitem {
  padding: 10px 10px;
}

/*
  This is where the navbar stuff ends
*/

.header {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  max-width: 400px;
}

h2 {
  text-align: center;
}

.header__maintitle {
  font-size: 1.8rem;
  color: rgb(56, 66, 78);
  font-family: 'Press Start 2P', sans-serif;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #247BA0;
}

.maincontent {
  width: 100%;
  margin: auto;
}

.maincontent__picture {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 9rem;
  border-radius: 50%;
}

.maincontent__about {
  display: block;
  margin: 20px auto;
  max-width: 400px;
  border-bottom: solid #247BA0 6px;
  text-align: center;
  border-radius: 2px;
  padding-bottom: 40px;
}
.maincontent__photoholder{
  display: block;
  margin: auto;
  width: 80%;
}

@media (min-width: 600px) {
  .header__maintitle {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 0rem;
  }

  .maincontent__photoholder{
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    padding: 2em;
    float: left;
  }
  .maincontent_photosub1{
    width: 80%;
    margin:auto;
  }

  .maincontent__about {
    padding-bottom: 80px;
  }


}
