.header {
  width: 100%;
  text-align: center;
  font-family: futura;
  margin: 0px auto;
}

.header__maintitle {
  font-size: 55px;
}

.navbar {
  width: 100%;
  max-width: 600px;
  font-family: futura;
  text-align: center;
  background-color: rgb(128, 212, 223);
  border-radius: 5px;
  margin: 0px auto;
  padding: 6px 0px
}

.navbar__liitem {
  font-size: 20px;
  display: inline;
  padding: 0px 1%;
}

.maincontent {
  width: 100%;
  margin: auto;

}

.maincontent__picture {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 500px;
  border-radius: 50%;
  border: solid pink 2px
}

.maincontent__about {
  margin: 20px auto;
  width: 60%;
  border: solid pink 2px;
  text-align: center;
  font-family: futura;
  border-radius: 2px;
  height: 80px;

}
