body {
  font-family:'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.header {
  width: 100%;
  text-align: center;
  margin: 0px auto;
}

.header__maintitle {
  font-size: 1.8rem;
  padding-top: 1rem;
  color: rgb(56, 66, 78);
  font-family: 'Press Start 2P', sans-serif;
}

.header__subtitle {
  color: rgb(43, 51, 60);
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: #B2DBBF;
  margin: -0.5rem 0;
  padding: 1rem 0;
}

ul {
  text-align: center;
  padding-left: 0rem;
  font-size: 15px;
}

.navbar__liitem {
  display: inline;
  padding: 0px 2%;
  color: white;
}
.subnavbar__liitem {
  font-size: 15px;
  color: black;
  display:block;
}

.dropdown {
  display: none;
  position:absolute;
}

.maincontent {
  width: 100%;
  margin: auto;

}

.maincontent__picture {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 500px;
  border-radius: 50%;
  border: solid #70C1B3 2px
}

.maincontent__about {
  display: block;
  margin: 20px auto;
  max-width: 400px;
  border-bottom: solid #F3FFBD 6px;
  text-align: center;
  font-family: futura;
  border-radius: 2px;
  padding-bottom: 40px;
}
.maincontent__photoholder{
  display: block;
  margin: auto;
  width: 80%;
}
@media (min-width: 600px) {
  .header__maintitle {
    font-size: 3.5rem;
    line-height: 4.8rem;
    padding: 1rem 17rem;
  }

  .maincontent__photoholder{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 2em;
    float: left;
  }
  .maincontent_photosub1{
    width: 80%;
    margin:auto;
  }

  .maincontent__about {
    padding-bottom: 80px;
  }

  ul {
    text-align:left;
    font-size: 20px;
    padding-left: 1.5rem;
  }
}
